@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    font-size: 20px;
}
h1{
    font-size: 6rem;
    color: var(--text-color1);
    font-weight: 900;
}
h2{
    font-size: 2rem;
    color:var(--text-color1);
}
.site{
    background: var(--bg-color);
}
.container{
    padding: 20px;
    margin: 0 auto;
    max-width: 1100px;
}
.theme__toggler{
    position: fixed;
    opacity: 0;
}
.theme__toggler-text{
    display: flex;
    padding: 20px 40px;
    background: var(--card-color1);
    width: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
    color: var(--text-color2);
}

@media (max-width:1120px){
    html{
        font-size: 15px;
    }
    h1{
        font-size: 4rem;
    }
}